@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | ChartJS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/lib/footable/css/footable.bootstrap.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
   
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="../Shared/_NavBarPartial.cshtml" />
        <!-- Navbar -->

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->

        <partial name="../Shared/_Aside.cshtml" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Clientes</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">ChartJS</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>@ViewData["countAdult"]</h3>

                                    <p>Clientes Adultos</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@ViewData["Juridico"]</h3>

                                    <p>Clientes Jurídicos</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@ViewData["Femenino"]</h3>

                                    <p>Clientes Femeninos</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <div class="row">

                        <!-- /.col (LEFT) -->
                        <div class="col-md-6">

                            <!-- BAR CHART -->
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Total por periodo</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                    <div class="row">

                        <!-- DONUT CHART -->
                        <div class="card card-danger">
                            <div class="card-header">
                                <h3 class="card-title">Total por Ramo</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">

                                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-7 connectedSortable">
                            <table id="example" class="display"></table>
                        </section>
                    </div>
                </div>
            </section>

        </div><!-- /.container-fluid -->
    </div>
  

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Add Content Here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- ./wrapper -->
    <!-- page script -->
    <script>
        $(function () {
            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */

            var data;

            async function doAjax() {
                let result;

                try {
                    result = await $.ajax({
                        url: "https://localhost:44337/policy/datajson",
                        type: 'GET',
                        data: { initDate: '2018-01-01', endDate: '2018-04-30' }
                    });

                    return result;
                } catch (error) {
                    console.error(error);
                }
            }

            // Llamarla y usarla como promesa
            doAjax().then(resultado => {
                data = resultado;

                var dataLabels = [];
                var dataValues = [];
                var dataLabelsDonut = [];
                var dataValuesDonut = [];

                var data_1 = data[0];                          //Datos del cuadro
                for (var i = 0; i < data_1.length; i++) {

                    dataLabels.push(data_1[i].period)
                    dataValues.push(data_1[i].netSales)

                }

                //-------------
                //- BAR CHART -
                //-------------

                var barChartCanvas = $('#barChart').get(0).getContext('2d')

                var barChartOptions = {
                    responsive: true,
                    maintainAspectRatio: false,
                    datasetFill: false
                }

                var barChart = new Chart(barChartCanvas, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            label: 'Pesos',
                            data: dataValues
                        }],
                        labels: dataLabels
                    },
                    options: barChartOptions
                })

                var data_2 = data[1];                          //Datos del cuadro Donut
                for (var i = 0; i < data_2.length; i++) {

                    dataLabelsDonut.push(data_2[i].branch)
                    dataValuesDonut.push(data_2[i].netSales)

                }

                //-------------
                //- DONUT CHART -
                //-------------
                // Get context with jQuery - using jQuery's .get() method.
                var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                var donutData = {
                    labels: dataLabelsDonut,
                    datasets: [
                        {
                            data: dataValuesDonut,
                            backgroundColor: ['#f56954', '#00a65a'],
                        }
                    ]
                }
                var donutOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                var donutChart = new Chart(donutChartCanvas, {
                    type: 'doughnut',
                    data: donutData,
                    options: donutOptions
                })


                var dataSet = [];
                for (var i = 0; i < data[2].length; i++) {
                    var dataAux = [];
                    dataAux.push(data[2][i].nyear);
                    dataAux.push(data[2][i].nmonth);
                    dataAux.push(data[2][i].sbranch);
                    dataAux.push(data[2][i].npolicy);
                    dataAux.push(data[2][i].ncertif);
                    dataAux.push(data[2][i].nreceipt);

                    dataSet.push(dataAux);
                }

                $('#example').DataTable({
                    data: dataSet,
                    columns: [
                        { title: "Año" },
                        { title: "Mes" },
                        { title: "Ramo" },
                        { title: "Póliza" },
                        { title: "Certificado" },
                        { title: "Recibo" }
                    ]
                });
            });
        })
    </script>

</body>
</html>
